<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    welcome to /info
    <%= name %>    <%= age %> Alive:<%= alive %>

    <a href="/datalist">View User Data List</a>
</body>
</html>